html {
    scroll-behavior: smooth;
}

/* HEADER */

.header {
    font-size: 18px;
    font-weight: 400;
    padding: 93px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  
.header__menu {
    flex: 0 0 auto;
    width: 33.3%;
    text-underline-position: under;
}
  
.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}
  
.header__link_active {
    text-decoration: none;
}
  
.header__logo {
    flex: 0 0 auto;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: inherit;
    height: inherit;
 }
  
.header__address {
    padding-left: 15.5%;
}
  

/* ADDRESS */
  
.address {
    flex: 0 0 auto;
    width: 33.3%;
    line-height: 135%;
    font-style: normal;
    text-underline-position: under;
    display: flex;
    flex-direction: column;
}


/* OVERLAY */

.overlay {
    height: inherit;
    padding: 165px 50px 50px;
    background-color: rgba(0, 0, 0, 0.6);
  }


/* COVER */

.cover {
    background: url("../images/cover.jpg") center/cover;
    color: #fff;
  }

.cover__title {
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .cover__description {
    margin-top: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .cover__description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 127.273%;
    text-align: end;
    word-spacing: 17.5px;
    text-transform: uppercase;
    margin-right: 6%;
  }


/* BUTTON */

.bet-button {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background: none;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    padding: 12px 32px;
}


/* LOTS */

.lots {
    padding: 181px 50px 0 50px;
}

.lots__title {
    padding: 0 0 27px 40px;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    padding-bottom: 30px;
}

.lots__card-list-item {
    text-decoration: none;
    list-style: none;
}

.lots__look-more-link {
    text-decoration: none;
    text-transform: lowercase;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #000;
  }

.card .overlay {
    color: #fff;
    width: 430px;
    min-height: 450px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-underline-position: under;
}


/* ABOUT */

.about {
    padding: 183px 50px 180px 50px;
    gap: 25px;
    display: flex;
}

.about__column {
    color: #000;
}

.about__column-title {
    padding: 100px 0 100px 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__column-text {
    padding: 0 0 0 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about__logo {
    background-color: #000;
    border-radius: 50%;
    margin: 0 95px;
    padding: 63px 46px;
}

.about__logo-image {
    width: 148px;
}


/* FOOTER */

.footer {
  font-size: 18px;
  font-weight: 400;
  padding: 2px 50px 90px;
  display: flex;
  justify-content: space-between;
}

.footer__address {
  padding-right: 15.5%;
}

.footer__menu {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  flex: 0 0 auto;
  width: 33.3%;
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}


/* CARD */

.card-link {
    height: 100%;
    text-decoration: none;
}

.card__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.card_film {
    background: url('../images/card-lot-01.jpg') no-repeat center/cover;
}

.card_book {
    background: url('../images/card-lot-02.jpg') no-repeat center/cover;
}

.card_pic {
    background: url('../images/card-lot-03.jpg') no-repeat center/cover;
}

/* ALIGN */

.aligned-text {
    letter-spacing: 0.3em;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    width: 100%;
    max-width: 1310px;
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}


/* LETTER-SPACING */

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}


/* MARKER */

.no-marker {
    list-style-type: none;
}
